@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

$font-size: 18px;
$font-color: #fff;
$back-color: #fff;
$back-fiolent: #a21ed8;
$font: 'Manrope', sans-serif;

@mixin cover-image($width, $height) {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    max-width: $width;
    height: $height;
}
@mixin move-absolut($width, $height, $left, $top, $right, $color, $opacity){
    position: absolute;
    width: $width;
    height: $height;
    left: $left;
    top: $top;
    right: $right;
    background: $color;
    opacity: $opacity;
    z-index: 100;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: $font-color;
  font-size: $font-size;
  color: $font-color;
  font-family: $font;
  box-sizing: border-box;
}
#root{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    ul, p{
        padding: 0;
        margin: 0;
    }
}
.head__box{
    height: 900px;
}
.header__wrap{
    position: relative;
    height: 900px;
    .navigation__line{
        position: absolute;
        top: 0;
        z-index: 99;
        max-width: 1795px;
        width: 95%;
        margin: 40px 0 0 60px;
        .logo__img{
            @include cover-image(185px, 51px);
        }
        .logo{
            width: 100%;
        }
        .line__wrap{
            display: inline-flex;
            ul li {
                display: inline-flex;
                margin-right: 24px;
                a{
                    font-weight: bold;
                    font-size: 0.72em;
                    line-height: 32px;
                    color: $font-color;
                    text-decoration: none;
                    letter-spacing: 0.105em;
                    text-transform: uppercase;
                    position: relative;
                }
            }
            ul li a:hover:before {
                content: "";
                position: absolute;
                top: -44px;
                right: auto;
                bottom: auto;
                left: auto;
                height: 3px;
                background-color: $back-fiolent;
                transform: ease 0.7 all;
                margin: 0 auto;
                content: "";
                width: 95%;
                z-index: 999;
            }
            .nav__list::after{
                content: "";
                background: rgba(226, 156, 255, 0.3);
                width: 1px;
                height: 41px;
            }
            .lang{
                padding-left: 24px;
            }
        }
        .wrap__logo{
            width: 185px;
        }
        .wrap__nav{
            float: right;
            *{
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.noactive{
    opacity: 0.6;
}
.title{
    margin-top: auto;
    h1{
        font-weight: bold;
        font-size: 4.7em;
        line-height: 86px;
        margin-bottom: 0;
        margin-top: 1em;
    }
}
.description{
    margin-top: auto;
    .description__grid{
        display: grid;
        grid-template-columns: 30% 60%;
        grid-row-gap: 60px;
        .desc__text{
            font-weight: 600;
            font-size: 1.5em;
            line-height: 67px;
        }
        .color-purp{
            font-weight: 500;
            font-size: 0.88em;
            line-height: 37px;
            color: $back-fiolent;
        }
    }
}
.box__line{
    margin-top: auto;
}
.btn{
    margin-bottom: 90px;
    .btn__box a{
        font-weight: 500;
        font-size: 1.2em;
        line-height: 37px;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        color: #D775FF;
        text-decoration: none;
        background: #520F6E;
        padding: 11px 20px 13px;
        display: inline-block;
        transition: ease 0.7s all;
        svg path{
            fill: #D775FF;
        }
    }
    .btn__box:first-child a{
        margin-right: 30px;
    }
    .btn__box .activ-btn{
        color: $font-color;
        padding: 21px 25px 26px 30px;
        font-size: 1.4;
        svg path{
            fill: $font-color;
        }
    }
    .btn__box a:hover{
        transition: ease 0.7s all;
        background-color: $back-color;
        color: $back-fiolent;
        svg path{
            fill: $back-fiolent;
        }
    }
}
.head__grid{
    display: grid;
    grid-template-columns: 65% 35%;
    .box-first{
        background: linear-gradient(161.59deg, #0F0935 7.13%, #000000 87.92%);
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: 60px;
    }
    .box-first::after{
        position: absolute;
        top: 0;
        right: -35px;
        bottom: 0;
        left: auto;
        margin: auto;
        content: "";
        width: 39px;
        height: 100%;
        background: url(/src/images/Union.png) top no-repeat;
        z-index: 2;
        background-size: cover;
    }
}
.image{
    @include cover-image(720px, 900px);
}
.blocks__moves{
    .moves1{
        @include move-absolut(81px, 41px, 60%, 20%, unset, $back-fiolent, 0.3)
    }
    .moves2{
        @include move-absolut(45px, 10px, 50%, 10%, unset, $back-fiolent, 0.45)
    }
    .moves3{
        @include move-absolut(60px, 20px, 90%, 45%, unset, $back-fiolent, 0.7)
    }
    .moves4{
        @include move-absolut(120px, 20px, 48%, 96%, unset, $back-fiolent, 0.6)
    }
    .moves5{
        @include move-absolut(100px, 20px, 37%, 99%, unset, $back-fiolent, 0.8)
    }
    .moves6{
        @include move-absolut(80px, 40px, 40%, 99%, unset, $back-fiolent, 0.3)
    }
    .moves7{
        @include move-absolut(120px, 20px, 60%, 70%, unset, $back-fiolent, 0.8)
    }
    .moves8{
        @include move-absolut(90px, 25px, 80%, 99%, unset, $back-fiolent, 0.4)
    }
    .moves9{
        @include move-absolut(90px, 15px, 80%, 82%, unset, $back-fiolent, 0.6)
    }
}
.container{
    height: 100px;
}
.container__bottom{
    background-color: $back-fiolent;
    padding: 60px;
    position: relative;
    h3{
        font-weight: bold;
        font-size: 2.7em;
        line-height: 64px;
    }
}
.container__bottom:before {
    position: absolute;
    top: -19px;
    right: 0;
    bottom: auto;
    left: 0;
    margin: auto;
    content: "";
    width: 100%;
    height: 20px;
    background: url(/src/images/jury-top-border.svg) 50% no-repeat;
    z-index: 2;
}
.container__bottom:after {
    position: absolute;
    top: auto;
    right: 0;
    bottom: -19px;
    left: 0;
    margin: auto;
    content: "";
    width: 100%;
    height: 20px;
    background: url(/src/images/jury-bottom-border.svg) 50% no-repeat;
    z-index: 2;
}
.photos__img{
    @include cover-image(132px, 132px);
    width: 132px;
    position: relative;
    cursor: pointer;
}
.icons svg{
    position: absolute;
    bottom: 0;
    right: 0;
}
.turquoise svg path{
    fill: #00BAC6;
}
.orange svg path{
    fill: #F1672E;
}
.blue svg path{
    fill:#3486C7;
}
.purple svg path{
    fill:#A34AA8;
}
.yellow svg path{
    fill:#E9AB1D;
}
.years__block{
    display: none;
    flex-wrap: wrap;
}
.curents{
    display: flex;
    margin-top: 20px;
}
.hover__block{
    display: none;
    padding: 20px;
    position: absolute;
    top: 132px;
    z-index: 111;
    transform: ease 0.7 all;
    width: 200px;
    .hover__title{
        color: $back-fiolent;
        font-weight: 500;
        font-size: 1.3em;
        line-height: 32px;
    }
    .hover__sub, .hover__descript{
        font-weight: bold;
        font-size: 0.88em;
        line-height: 18px;
        color: #000000;
    }
    p{
        padding-bottom: 10px!important;
    }
}
.bottom__menu{
    display: inline-block;
    border-top: 1px solid #CE68F8;
    border-bottom: 1px solid #CE68F8;
    border-left: 1px solid #CE68F8;
    li{
        display: inline-flex;
        padding: 0px 15px;
        text-align: center;
        color: #EAE4E4;
        border-right: 1px solid #CE68F8;
        cursor: pointer;
        font-size: 1em;
        line-height: 36px;
    }
    .actuale{
        color: #6D0099;
        background: #CE68F8;
    }
}
.photos__img:hover .hover__block{
    display: block;
    background-color: $back-color;
    transform: ease 0.7 all;
}
.years__block:hover>div:not(:hover){
    opacity: 0.6;
    transition-timing-function: ease-out;
    transition-property: all;
    transition-duration: .25s;
}
@media screen and (min-width: 640px) and (max-width: 1220px) {
    .wrap__nav{
        display: none!important;
    }
    .head__grid{
        grid-template-columns: 1fr;
        .second-box{
            display: none;
        }
    }
    .head__grid .box-first::after{
        display: none;
    }
    
}